@charset "UTF-8";

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.container {
  width: 940px;
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 20px;
}

.content {
  background-color: #3274ae;
  padding: 20px;
  margin-left: 20px;
  float: left;
}

.content:first-child {
  margin-left: 0;
}

.content-box {
  background-color: #eaf4ff;
  border: 10px solid #022336;
  width: 230px;
  box-sizing: border-box;
  padding: 20px;
}

.box-text {
  font-size: 16px;
  line-height: 16px;
}