@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.q3_table th,
.q3_table td {
  padding: 10px 0;
  border: solid #dedede 1px;
}

.q3_table th {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.q3_table td {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.q3_table tr:nth-child(2n) {
  background-color: #ecf1f2;
}
.tbody tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
