@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table_header, .table_data {
  padding: 10px 0;
  border: solid #dedede 1px;
}

.table_header {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.table_data {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.row:nth-child(2n+1) {
  background-color: #ecf1f2;
}
.row:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
